body{
    background-color: #000000;
    margin:0;
    padding: 0;
}
nav{
    display: flex;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100px;
    background-color: black;
  }
  
  .navleft{
      display: flex;
      list-style-type:none;
      font-family: "微軟正黑體",Arial;
      font-size: 18px;
      text-indent: 20px;
      margin: 3.125rem 0px 0px 0px;
      padding:0;
      
  }
  .navright{
    display: flex;
    list-style-type:none;
    font-family: "微軟正黑體",Arial;
    font-size: 18px;
    text-indent: 20px;
    position: fixed;
    margin-top: 3.125rem;
    margin-right: 30px;
    margin-left: 1200px;  
}
  a{
      text-decoration: none;
      color: rgb(255, 167, 66);
  }
  a:hover{
     color: #ffffff;
     font-weight: bold;
  }
  .navpic{
    width: 100px;
    height: 40px;
    margin: 40px 0px 0px 55px;
  }
.imgtogether{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgtitle{
    width: 300px;
    height: 100px;
    position: absolute;
}

.imgtop{
    margin: 0px 0px 0px 0px;
    max-width: 100%;
    height: auto;
}

.prop1{
    font-family: "微軟正黑體";
    font-weight: bold;
    font-style: normal;
    font-size: 42px;
    color: #A0A0A0;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 0;
    width: 550px;
}

.prop1txt{
    font-family: "微軟正黑體";
    font-size: 24px;
    color: #A0A0A0;
    margin-left: 300px;
    width: 350px;
    margin-top: -430px;
}

.picture{
    width: 700px;
    height: 700px;
    position: absolute;
    margin-left: 700px;
    margin-top: 100px;
}

.picture3{
    width: 400px;
    height: 250px;
    margin-top: 550px;
    margin-left: 275px;
    position: absolute;
}

.no1{
    transform: rotate(-90deg);
    width:570px;
    height:140px;
    color: #000000;
    background-color: #A0A0A0;
    font-family: Arial;
    font-weight: bold; 
    font-size: 100px;
    text-align: right;
    margin-left: -100px;
    margin-top: 235px;
}

.no2{
    transform: rotate(-90deg);
    width:500px;
    height:100px;
    color: #000000;
    background-color: #A0A0A0;
    font-family: Arial;
    font-weight: bold; 
    font-size: 100px;
    text-align: right;
    margin-left: 400px;
    margin-top: 700px;
}

.prop2{
    font-family: "微軟正黑體";
    font-weight: bold;
    font-style: normal;
    font-size: 42px;
    color: #A0A0A0;
    margin-top: -400px;
    margin-left: 750px;
    margin-right: 0px;
}

.prop2txt{
    font-family: "微軟正黑體";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    color: #A0A0A0;
    margin-left: 750px;
    width: 350px;
    margin-top: -10px;
}

.picture4{
    width: 600px;
    height: 500px;
    margin-left: 120px;
    position: absolute;
    margin-top: 475px;
}

.picture5{
    transform: rotate(-90deg);
    width: 500px;
    height: 312px;
    margin-left: 1050px;
    position: absolute;
    margin-top: -430px;
}

.prop3{
    font-family: "微軟正黑體";
    font-weight: bold;
    font-style: normal;
    font-size: 42px;
    color: #A0A0A0;
    margin-top: -550px;
    margin-left: 100px;
    margin-right: 0px;
}

.prop3txt{
    font-family: "微軟正黑體";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    color: #A0A0A0;
    margin-left: 100px;
    width: 1160px;
    margin-top: 0px;
}

.no3{
    transform: rotate(-90deg);
    width:900px;
    height:100px;
    color: #000000;
    background-color: #A0A0A0;
    font-family: Arial;
    font-weight: bold; 
    font-size: 100px;
    text-align: right;
    margin-left: 900px;
    margin-top: 600px;
}

.picture6{
    width: 533px;
    height: 300px;
    margin-left: 100px;
    position: absolute;
    margin-top: 30px;
}

.picture7{
    width: 533px;
    height: 400px;
    margin-left: 700px;
    position: absolute;
    margin-top: 30px;
}

.footerA{
    margin-top: 550px;
    padding-top: 30px;
    font-family: "微軟正黑體",Arial;
    font-size: 14px;
    text-align: center;
    width: 100%;
    height:50px;
    color: #A0A0A0;
    background-color: #000000;
}

@media(max-width:1380px){
body{
    background-color: #000000;
    margin:0;
    padding: 0;
}
nav{
    display: flex;
  }
  
  .navleft{
      display: flex;
      list-style-type:none;
      font-family: "微軟正黑體",Arial;
      font-size: 18px;
      text-indent: 20px;
      margin: 50px 0px 0px 0px;
      padding:0;
  }
  
  a{
      text-decoration: none;
      color: #ffffff;
  }
  a:hover{
     color: orange;
     font-weight: bold;
  }
  .navpic{
    width: 100px;
    height: 40px;
    margin: 40px 0px 0px 55px;
  }
.imgtogether{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgtitle{
    width: 300px;
    height: 100px;
    position: absolute;
}

.imgtop{
    margin: 0px 0px 0px 0px;
    max-width: 100%;
    height: auto;
}

.prop1{
    font-family: "微軟正黑體";
    font-weight: bold;
    font-style: normal;
    font-size: 42px;
    color: #A0A0A0;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 0;
    width: 550px;
}

.prop1txt{
    font-family: "微軟正黑體";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    color: #A0A0A0;
    margin-left: 300px;
    width: 350px;
    margin-top: -430px;
}

.picture{
    width: 550px;
    height: 550px;
    margin-left: 120px;
    margin-top: 850px;
}

.picture3{
    width: 400px;
    height: 250px;
    margin-top: 550px;
    margin-left: 275px;
    position: absolute;
}

.no1{
    transform: rotate(-90deg);
    width:570px;
    height:140px;
    color: #000000;
    background-color: #A0A0A0;
    font-family: Arial;
    font-weight: bold; 
    font-size: 100px;
    text-align: right;
    margin-left: -100px;
    margin-top: 235px;
}

.no2{
    transform: rotate(-90deg);
    width:500px;
    height:100px;
    color: #000000;
    background-color: #A0A0A0;
    font-family: Arial;
    font-weight: bold; 
    font-size: 100px;
    text-align: right;
    margin-left: -80px;
    margin-top: 1200px;
}

.prop2{
    font-family: "微軟正黑體";
    font-weight: bold;
    font-style: normal;
    font-size: 42px;
    color: #A0A0A0;
    margin-top: -400px;
    margin-left: 350px;
    margin-right: 0px;
}

.prop2txt{
    font-family: "微軟正黑體";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    color: #A0A0A0;
    margin-left: 350px;
    width: 350px;
    margin-top: -10px;
}

.picture4{
    width: 600px;
    height: 500px;
    margin-left: 120px;
    margin-top: 1500px;
}

.picture5{
    transform: rotate(0deg);
    width: 600px;
    height: 412px;
    margin-left: 120px;
    margin-top: 400px;
}

.prop3{
    font-family: "微軟正黑體";
    font-weight: bold;
    font-style: normal;
    font-size: 42px;
    color: #A0A0A0;
    margin-top: -50px;
    margin-left: 130px;
    margin-right: 0px;
}

.prop3txt{
    font-family: "微軟正黑體";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    color: #A0A0A0;
    margin-left: 130px;
    width: 550px;
    margin-top: 0px;
}

.no3{
    transform: rotate(0deg);
    width:600px;
    height:100px;
    color: #000000;
    background-color: #A0A0A0;
    font-family: Arial;
    font-weight: bold; 
    font-size: 100px;
    text-align: right;
    margin-left: 120px;
    margin-top: 900px;
}

.picture6{
    width: 533px;
    height: 300px;
    margin-left: 100px;
    margin-top: 30px;
}

.picture7{
    width: 533px;
    height: 400px;
    margin-left: 130px;
    margin-top: 350px;
}

.footerA{
    margin-top: 900px;
    padding-top: 30px;
    font-family: "微軟正黑體",Arial;
    font-size: 14px;
    text-align: center;
    width: 100%;
    height:50px;
    color: #ffffff;
    background-color: #000000;
}
}