img {
  width: 100%;
}
body {
  height: 100%;
  background-image: url("../img/a1.png");
  background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.black-text {
  color: black;
}

.login-card {
  max-width: 50%;
  margin-top: 200px;
}

.input-bottom {
  border: none;
  border-bottom: 1px solid black;
  border-radius: 0px;

}

.input-bottom:focus {
  box-shadow: none;
  border-bottom: 1px solid black;
}

.login-button {
  border-radius: 15px;
  background: rgb(255, 167, 66);
  color: #fff;
}

.login-button:hover {
  background: #000000;
  color: #ffffff;
}
.signup-button {
  border-radius: 15px;
  background: #000000;
  color: #fff;
}

.signup-button:hover {
  background: gray;
  color: #000000;
}

.or {
  display: flex;
  font-size: 14px;
  font-family: Arial;
  justify-content: center;
  align-items: center;

}

.or>p {
  margin-top: 3px;
  margin-bottom: 0px;
  color: black
}

hr {

  border: 0;
  height: 1px;
  width: 300px;
  background-color: black;
  margin-top: 20px;
}
.loginicongoogle{
  width: 30% !important;
  height: auto !important;
  margin-right: 4.4rem;
  margin-top: -0.4rem;
}

.loginicongoogle:hover {
  transform: scale(1.25, 1.25);
  transition: transform 0.25s ease;
}

.loginiconfb{
  width: 20% !important;
  height: auto !important;
}
.loginiconfb:hover {
  transform: scale(1.25, 1.25);
  transition: transform 0.25s ease;
}

.another-area {
  width: 25%;
}

input[type="text"] {
  outline: none !important;
}

@media screen and (max-width: 500px) {
  .login-card {
      max-width: 90%;
  }

  .another-area {
      width: 50%;
  }
}